<!DOCTYPE html>
<html>
<head>
  <title>AboutLuke</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' %>
  <%= favicon_link_tag "black_sound_ico.png" %>
</head>
<body>
<%= render "nav" %>
<%= yield %>

</body>
</html>
